<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303560604646-n09e5gh9eesm3m1ehcgpro32irrcahl7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303560604646-n09e5gh9eesm3m1ehcgpro32irrcahl7</string>
	<key>API_KEY</key>
	<string>AIzaSyDpO5kTsiXfj0Y6EXgaGMpwLLncMMcGcXU</string>
	<key>GCM_SENDER_ID</key>
	<string>303560604646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ggradeProj</string>
	<key>PROJECT_ID</key>
	<string>ggradedb</string>
	<key>STORAGE_BUCKET</key>
	<string>ggradedb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303560604646:ios:9600534aeecf776fa9b427</string>
</dict>
</plist>